html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: black;
    background-color: white;
    font-size: 16pt;
}

.main {
    /* IE 5.5+ */
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='background.jpg',
    sizingMethod='scale');

    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='background.jpg',
    sizingMethod='scale')";

    background-color: #1f2a4f;
    background-image: url(background.jpg);
    background-size: cover;

    text-align: center;
    color: white;

    padding: 1em 0;

    filter: progid:DXImageTransform.Microsoft.shadow(direction=180, color=#000000, strength=5);
    box-shadow: 0 0 0.25em black;
}

.main a, .main a:visited {
    color: white;
}

.main > h1 {
    margin: 0;
    padding-top: 0.5em;
    text-shadow: 0.025em 0.025em 0 rgba(16, 16, 16, 0.75);
    font-size: 4em;
}

.generate-button {
    font-size: 1.25em;
    background-color: #67c;
    padding: 0.8em 1.1em;
    color: white;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    box-shadow: 0.1em 0.1em 0.1em rgba(16, 16, 16, 0.5);
    margin: 1em;
}

.generate-button:hover {
    background-color: #78d;
    text-decoration: underline;
}

.smilepacks-list {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.smilepacks-list > li {
    margin: 1em 0;
    padding: 0;
}

.smp-date {
    font-size: 0.5em;
}

.additional {
    display: block;
    margin: 0 0 0 10%;
    padding: 0;
    overflow: hidden;
    width: 80%; /* not 80% for IE */
    color: #333;
    font-size: 0.9em;
    line-height: 1.5em;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.additional > .title {
    font-size: 2em;
    text-align: center;
    display: block;
    margin: 0.5em 0 1em 0;
    padding: 0;
    font-weight: bold;
}

.additional > .column {
    width: 30%;
    margin: 0 1.6%;
    padding: 0;
    text-align: left;
    float: left;
}
