include AUTHORS.md
include CONTRIBUTING.md
include CHANGELOG.md
include LICENSE.txt
include README.md
include requirements*.txt
include smilepack/manifest.json
recursive-include tests *
recursive-include docs *.md conf.py Makefile
recursive-include smilepack/templates *
recursive-include smilepack/public *
recursive-include smilepack/translations *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
