<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Смайлопак</title>
    <link href="{{ url_for_static('index.css') }}" rel="stylesheet" type="text/css" />
    {{ stylesheet_tag("landing_css") | safe }}
</head>
<body>

<div class="main">
    <h1>Да, это смайлопак!</h1>
    <div class="stat">Смайликов в коллекции: {{ smiles_count }}, создано смайлопаков: {{ smilepacks_count }}</div>
    <a href="{{ url_for('pages.generator') }}" class="generate-button">Создать свой смайлопак</a><br/>
    {% if smilepacks %}
    Или открыть существующий:
    <ul class="smilepacks-list">
    {%- for pack in smilepacks %}
        <li><a href="{{ url_for('pages.generator', smp_id=pack.hid) }}">{{pack.name or pack.hid}}</a> <time class="smp-date" datetime="{{ pack.created_at.strftime('%Y-%m-%dT%H:%M:%SZ') }}">({{ pack.created_at|datetimeformat }})</time></li>
    {% endfor %}
    </ul>
    {% endif %}
</div>

<div class="additional">
    {%- if new_smiles_json|length >= 20 %}
    <div class="new-smiles-container">
        <div class="new-smiles-title">Новые смайлы:</div>
        <div id="new-smiles">{% for smile in new_smiles_json %}
            <a href="{{ url_for('pages.generator') }}#{{ smile['category'][0] }}"><img src="{{ smile['url'] }}" alt="" title="{{ smile['category'][1] }}" /></a>
        {%- endfor %}</div>
    </div>
    {% endif -%}

    <div class="title">Что это?</div>
    <div class="column">
        Новый бэкенд смайлопака с классным API, написанный за полтора дня. Умеет в хранение смайлопаков и добавление новых смайликов пользователями, а также поиск по тегам!
    </div><div class="column">
        Новый фронтенд, написанный просто потому что как веб-приложение может быть без фронтенда?
    </div><div class="column">
        Оставленный без изменений юзерскрипт для встраивания смайлопака в веб-сайты. Пользуйтесь смайлопаком везде, где бы вы ни были!
    </div>
</div>
<script src="{{ url_for_static('js/index.js') }}"></script>
{{ javascript_tag("landing_js") | safe }}
</body>
</html>
